.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: hidden;
    background-color: #34495E;
}

.topbar-wrapper .link:after {
    content: 'ITWatcher';
    color: #fff;
    /*background-color: #f1f1f1;*/
    background-color: #34495E;
    visibility: visible;
    display: block;
    position: absolute;
    padding: 15px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 18.5px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: #34495E;
            color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

#swagger-ui {
    margin-left: 200px;
    height: 1000px;
}